.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
}

.home-main {
    display: flex;
    flex-direction: column;
    background-color: #5D94FF;
    align-items: center;
    padding: 2em;
    border-radius: 8px;
    color: white;
}