.selectable:hover {
    background-color: lightblue;
}

.highlighted {
    background-color: yellow;
}

#Passage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paragraph {
    width: 50%;
    max-width: 40em;
    min-height: 40em;
    margin: 1em;
    background-color: #fff8e7;
    padding: 2.5em;
    text-align: justify;
}